*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.bodyWrapper {
    height: 100%;
    background-color: #2F3E46;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticTacToe {
    background-color: #57a3c9;
    padding: 2rem;
    border-radius: 1rem;
    height: clamp(15rem, 90vw, 90vh);
    width: clamp(10rem, 80vw, 80vh);
}

.ticTacToe-title {
    color: #FFD43B;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: #3A678F;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}