*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.bodyWrapper {
    height: 100%;
    background-color: #2F3E46;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticTacToe {
    --ticTacToe-width: clamp(10rem, 90vw, 80vh);
    --ticTacToe-min-height: var(--ticTacToe-width);
    --ticTacToe-padding: 1rem;
    --ticTacToe-contentWidth: calc(var(--ticTacToe-width) - var(--ticTacToe-padding) * 2);
    --ticTacToe-contentHeight: calc(var(--ticTacToe-height) - var(--ticTacToe-padding) * 2);
    --ticTacToe-turn: attr(data-turn string);
    background-color: #57a3c9;
    padding: var(--ticTacToe-padding);
    border-radius: var(--ticTacToe-padding);
    min-height: var(--ticTacToe-height);
    width: var(--ticTacToe-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ticTacToe-title {
    color: #FFD43B;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: #3A678F;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.ticTacToe-board {
    height: var(--ticTacToe-contentWidth);
    width: var(--ticTacToe-contentWidth);
    background-color: #3A678F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.ticTacToe-slotWrapper {
    background-color: #57a3c9;
    display: grid;
    place-items: center;
}

.ticTacToe-slot {
    height: 90%;
    width: 90%;
    border-radius: 10%;
    border: 0px;
    cursor: pointer;
    background-color: #57a3c9;
    color: #FFD43B;
    padding: 0;
}

.ticTacToe-slot:hover {
    filter: brightness(110%);
}

.ticTacToe-slot[data-symbol="x"] {
    background-image: url(images/cross.svg);
}

.ticTacToe-slot[data-symbol="o"] {
    background-image: url(images/nought.svg);
}